DataFrame

In [5]:
import pandas as pd

In [6]:
# Dataframes using list


l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(type(var))
var

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [9]:
# DataFrame using Dictionary
# every key should have same length of list

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10],"d":[11,22,33,44,55]}
var1=pd.DataFrame(d)
print(type(var1))
var1

<class 'pandas.core.frame.DataFrame'>

   a   s   d
0  1   6  11
1  2   7  22
2  3   8  33
3  4   9  44
4  5  10  55

In [12]:
# If you require a particular column

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10],"d":[11,22,33,44,55],1:[0,0,0,0,0]}
var1=pd.DataFrame(d,columns=["a",1])

var1

   a  1
0  1  0
1  2  0
2  3  0
3  4  0
4  5  0

In [13]:
# To change the index no.

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10],"d":[11,22,33,44,55],1:[0,0,0,0,0]}
var1=pd.DataFrame(d,columns=["a",1],index=["a","s","d","f","g"])

var1

   a  1
a  1  0
s  2  0
d  3  0
f  4  0
g  5  0

In [15]:
# Get value from index

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10],"d":[11,22,33,44,55],1:[0,0,0,0,0]}
var1=pd.DataFrame(d,columns=["a",1],index=["a","s","d","f","g"])

print(var1["a"]["f"])

4

In [18]:
# DataFrame using list of list

list_1=[[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]
var2=pd.DataFrame(list_1)
print(type(var1))
var2

<class 'pandas.core.frame.DataFrame'>

    0   1   2   3   4
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15

In [20]:
# DataFrame using series

sr={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([1,2,3,4,5])}
var3=pd.DataFrame(sr)
print(type(var3))
var3

<class 'pandas.core.frame.DataFrame'>

   s  r
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5