DataFrame

In [5]:
import pandas as pd

In [6]:
# Dataframes using list


l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(type(var))
var

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [9]:
# DataFrame using Dictionary
# every key should have same length of list

d={"a":[1,2,3,4,5],"s":[6,7,8,9,10],"d":[11,22,33,44,55]}
var1=pd.DataFrame(d)
print(type(var1))
var1

<class 'pandas.core.frame.DataFrame'>

   a   s   d
0  1   6  11
1  2   7  22
2  3   8  33
3  4   9  44
4  5  10  55